<section class=" filter-size filter-tag">
  <h2 class="widget-title title14 font-bold dosis-font text-uppercase">{{section.settings.shop_by_size_title}}</h2>
  <ul class="list-none list-size">
    {% assign tags = section.settings.shop_by_size_list_tags | split: ',' %}
    
    {% for t in tags %}
    {% assign tag = t | strip %}
    {% assign tag_value = tag | handleize %}
    <div onclick="checkit(event)" class="form-group">
      <input value="{{ tag_value | split: '|' | first }}" type="checkbox" id="html">
      <label for="html">{{ tag }}</label>
    </div>
    {% endfor %}
  </ul>
  <!-- /.product-categories -->
</section>